{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}


{% block page_checkout_confirm_shipping_modal_toggle %}
    <button type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-backdrop="static"
            data-target="#confirmShippingModal">

        {% if shippingMethodInvalid %}
            {{ "checkout.confirmChooseShipping"|trans|sw_sanitize }}
        {% else %}
            {{ "checkout.confirmChangeShipping"|trans|sw_sanitize }}
        {% endif %}
    </button>
{% endblock %}
