/*
Basic styles
==================================================
Contains the imports to all basic styles.

The file organization follows the 7-1 pattern architecture
https://sass-guidelin.es/#the-7-1-pattern
*/

/*
 * Variables, Mixins, Functions
 * ---------------------------- */
@import 'abstract/variables';

/*
 * Skin variables
 * ---------- */

/*
 * Vendors
 * ------- */
//@import 'vendor/bootstrap';
//@import 'vendor/tiny-slider';
//@import 'vendor/datepicker';

/*
 * Base stuff
 * ---------- */
//@import 'base/base';
//@import 'base/reboot';
//@import 'base/ie11-fixes';

/*
 * Components
 * ---------- */
//@import 'component/alert';
//@import 'component/card';
//@import 'component/category-navigation';
//@import 'component/backdrop';
//@import 'component/base-slider';
//@import 'component/image-slider';
//@import 'component/product-slider';
//@import 'component/gallery-slider';
//@import 'component/magnifier';
//@import 'component/zoom-modal';
//@import 'component/offcanvas';
//@import 'component/product-box';
//@import 'component/loader';
//@import 'component/modal';
//@import 'component/flags';
//@import 'component/icon';
//@import 'component/pagination';
//@import 'component/cms-sections';
@import 'component/cms-block';
//@import 'component/cms-element';
//@import 'component/cms-form-confirmation';
//@import 'component/forms';
//@import 'component/address-editor';
//@import 'component/sorting';
//@import 'component/delivery-status';
//@import 'component/quickview-modal';
//@import 'component/payment-method';
//@import 'component/filter-panel';
//@import 'component/filter-multi-select';
//@import 'component/filter-property-select';
//@import 'component/filter-boolean';
//@import 'component/filter-range';
//@import 'component/filter-rating';
//@import 'component/ellipsis';

/*
 * Layout-related sections
 * Example: Header, Footer, Navigation, Sidebar... *
 * ----------------------- */
//@import 'layout/container';
@import 'layout/top-bar';
@import 'layout/header';
//@import 'layout/header-minimal';
//@import 'layout/footer';
@import 'layout/main-navigation';
//@import 'layout/navigation-flyout';
//@import 'layout/navigation-offcanvas';
//@import 'layout/offcanvas-cart';
//@import 'layout/account-menu';
//@import 'layout/search-suggest';
//@import 'layout/cookie-permission';
//@import 'layout/cookie-configuration';
//@import 'layout/scroll-up';

/*
 * Page-specific styles
 * -------------------- */
//@import 'page/product-detail/product-detail';
//@import 'page/product-detail/configurator';
//@import 'page/product-detail/tabs';
//@import 'page/product-detail/review';

//@import 'page/account/account';
//@import 'page/account/aside';
//@import 'page/account/overview';
//@import 'page/account/register';
//@import 'page/account/login';
//@import 'page/account/address';
//@import 'page/account/profile';
//@import 'page/account/order';
//@import 'page/account/edit-order';
//@import 'page/account/order-detail';

//@import 'page/checkout/checkout';
//@import 'page/checkout/aside';
//@import 'page/checkout/cart';
//@import 'page/checkout/cart-item';
//@import 'page/checkout/register';
//@import 'page/checkout/confirm';
//@import 'page/checkout/finish';

//@import 'page/contact/contact';
//@import 'page/newsletter/newsletter';

//@import 'page/search/search';

.img-wrapper img{
    width: 100%;
    height: auto;
    display: block;
}
/*** TYPO & BUTTONS ***/
html, body{
    font-family: 'source-sans-pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: bebas-neue, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $headline-color;
}
.main-navigation-link{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
}
.button-1{
    padding: 10px 25px 10px 50px;
    background: #565656;
    color: #fff;
    border-radius: 20px;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
}
.button-1::before{
    content: '';
    display: block;
    background-color: #E5005B;
    height: 36px;
    width: 36px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-image: url('../assets/img/button-1-arrow-right.svg');
    background-size: 20px auto;
    background-position: center;
    background-repeat: no-repeat;
}
.button-1:hover{
    background: #7a7a7a;
    color: #fff;
    text-decoration: none;
}
.button-1.add-to-cart{
    border: 0 !important;
}

/*** CONTACT-SIDEBAR ***/
.contact-sidebar{
    background: #000;
    position: fixed;
    top: 250px;
    right: -508px;
    color: #fff;
    padding: 20px 275px 20px 20px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
    z-index: 999;
    transition: all .5s;
    ul{
        padding: 0 0 0 75px;
        margin-bottom: 15px;
        list-style: none;
        position: relative;
        li{
            strong{
                text-transform: uppercase;
                font-size: 22px;
                font-family: bebas-neue, sans-serif;
                font-style: normal;
                font-weight: 400;
            }
            a{
                color: #fff;
            }
            span{
                display: inline-block;
                width: 70px;
            }
        }
    }
    ul::before{
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        left: 0;
        height: 45px;
        width: 45px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .5s;
    }
    ul.contact::before{
        background-image: url('../assets/img/phone.svg');
    }
    ul.questions::before{
        background-image: url('../assets/img/question.svg');
    }
    ul.reachability::before{
        background-image: url('../assets/img/watch.svg');
    }
    ul:last-child{
        margin: 0;
    }
}
.contact-sidebar:hover{
    right: 0px;
    ul::before{
        top: 6px;
        height: 40px;
        width: 40px;
    }
}

/*** INTRO-WRAPPER ***/
.intro-wrapper{
    width: 950px;
    max-width: 90%;
    margin: 0 auto;
    h1{
        text-transform: uppercase;
        font-size: 3rem;
    }
    h3{
        text-transform: uppercase;
        color: $secondary-color;
    }
    hr{
        /*border: 0 !important;
        max-width: inherit !important;
        width: 200px;
        height: 1px;
        background: rgba(0,0,0,0.8);
        margin: 30px 0;*/
        display: none;
    }
}

/*** PRODUCT-LISTING ***/
.cms-element-product-listing-actions{
    display: none;
}
.cms-element-product-listing .cms-listing-row{
    margin-top: 50px;
    margin-bottom: 50px;
}
.cms-element-product-listing .cms-listing-col{
    margin-bottom: 40px;
}
.cms-element-product-listing .cms-listing-col:nth-child(2n) .product-box .card-body{
    flex-direction: row-reverse !important;

    .product-info{
        margin-right: 50px;
        margin-left: 0;
    }
    .product-image-wrapper{
        .product-image-link{
            .product-image{
                margin-right: 0;
                margin-left: 50px;
            }
        }
    }

}

/*** PRODUCT-BOX ***/
.cms-listing-col{
    .product-box{
        border: 0;
        .card-body{
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .product-image-wrapper{
                height: auto;
                width: 55%;
                margin-bottom: 0;
                flex-basis: unset;
                flex-grow: unset;
                flex-shrink: unset;

                .product-image-link{
                    .product-image{
                        max-height: inherit !important;
                        height: auto;
                        width: 100%;
                        overflow: hidden;
                        margin-right: 50px;
                    }
                }
            }
            .product-info{
                width: 40%;
                max-width: 480px;
                margin-left: 50px;
                .product-rating{
                    display: none;
                }
                .product-name{
                    text-transform: uppercase;
                    color: #000;
                    font-size: 22px;

                }
                .listing-button-price-wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;

                    .product-price-unit{
                        display: none;
                    }
                    .product-price{
                        margin-top: 0px;
                    }
                    .product-price-info{
                        margin: 0;
                    }
                }
            }
        }
    }
}
/*** FOOTER ***/
.footer-main{
    background: #000;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
    padding: 30px 0;
    .footer-logo-wrapper{
        img{
            width: 250px;
        }
    }
    .row{
        justify-content: space-between !important;
    }

    .footer-col{
        ul{
            list-style: none;
            margin-bottom: 15px;
            padding: 0;
        }
        ul:last-child{
            margin-bottom: 0;
        }
        h4,
        a,
        li{
            color: #fff;

        }
    }
    .footer-socials{
        .icons-wrapper{
            display: flex;
            a{
                text-align: center;
                margin-right: 10px;

                .img-wrapper {
                    width: 35px;
                    display: block;
                    margin: 0 auto 3px auto;
                }
            }
        }
    }
}
/*** INTRO-TEXT ***/
.cms-block-text-hero{
    max-width: 800px;
    margin: 0 auto;
    .cms-element-text {
        h1{
            font-size: 3rem;
            margin-bottom: 30px;
            position: relative;
            i{
                background: #fff;
                position: relative;
                z-index: 9;
                padding: 0 20px;
                font-style: normal;
            }
        }
        h1:after{
            content: "";
            position: absolute;
            background: $primary-color;
            width: 100%;
            height: 1px;
            left: 0px;
            top: 20px;
        }
        h3{
            color: $secondary-color;
            font-family: 'source-sans-pro', sans-serif;
            margin-bottom: 5px;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        hr{
            display: none;
        }
    }
}
/*** PRODUCT-DETAIL ***/
.product-detail-content{
    margin-bottom: 70px;
}
.product-detail-main{
    align-items: center;
}
.product-detail-name-container{
    padding: 0 !important;
}
.product-detail-manufacturer{
    display: none;
}
.total-price{
    font-size: 26px;
    font-weight: 700;
    display: block;
}
.product-detail-tax-link{
    color: #4a545b;
}
.card-tabs .nav-link{
    background: #6b6b6b;
    padding: 7px 30px;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    transition: all .3s;
}
.card-tabs .nav-link:hover{
    background: #000;
    color: #fff;
}
.card-tabs .nav-link.active{
    color: #fff;
    background: #000;
}
.card-tabs .nav-item{
    margin-right: 3px;
}
.nav-tabs{
    justify-content: center;
}
.product-detail-description-custom h6{
    color: #e6005b;
    font-weight: 200;
    margin: 0;
    font-size: 18px;
}
.product-detail-review-widget{
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 40px;
}
.js-review-filter{
    display: none;
}
.product-detail-review-widget hr:nth-child(2){
    display: none;
}
.product-detail-review-actions{
    display: none;
}
.product-detail-review-list hr{
    display: none;
}
