/*
Basic styles
==================================================
Contains the imports to all basic styles.

The file organization follows the 7-1 pattern architecture
https://sass-guidelin.es/#the-7-1-pattern
*/

/*
 * Variables, Mixins, Functions
 * ---------------------------- */
@import 'abstract/variables';

/*
 * Skin variables
 * ---------- */

/*
 * Vendors
 * ------- */
//@import 'vendor/bootstrap';
//@import 'vendor/tiny-slider';
//@import 'vendor/datepicker';

/*
 * Base stuff
 * ---------- */
//@import 'base/base';
//@import 'base/reboot';
//@import 'base/ie11-fixes';

/*
 * Components
 * ---------- */
//@import 'component/alert';
//@import 'component/card';
//@import 'component/category-navigation';
//@import 'component/backdrop';
//@import 'component/base-slider';
//@import 'component/image-slider';
//@import 'component/product-slider';
//@import 'component/gallery-slider';
//@import 'component/magnifier';
//@import 'component/zoom-modal';
//@import 'component/offcanvas';
//@import 'component/product-box';
//@import 'component/loader';
//@import 'component/modal';
//@import 'component/flags';
//@import 'component/icon';
//@import 'component/pagination';
//@import 'component/cms-sections';
@import 'component/cms-block';
//@import 'component/cms-element';
//@import 'component/cms-form-confirmation';
//@import 'component/forms';
//@import 'component/address-editor';
//@import 'component/sorting';
//@import 'component/delivery-status';
//@import 'component/quickview-modal';
//@import 'component/payment-method';
//@import 'component/filter-panel';
//@import 'component/filter-multi-select';
//@import 'component/filter-property-select';
//@import 'component/filter-boolean';
//@import 'component/filter-range';
//@import 'component/filter-rating';
//@import 'component/ellipsis';

/*
 * Layout-related sections
 * Example: Header, Footer, Navigation, Sidebar... *
 * ----------------------- */
//@import 'layout/container';
@import 'layout/top-bar';
@import 'layout/header';
//@import 'layout/header-minimal';
//@import 'layout/footer';
@import 'layout/main-navigation';
//@import 'layout/navigation-flyout';
//@import 'layout/navigation-offcanvas';
//@import 'layout/offcanvas-cart';
//@import 'layout/account-menu';
//@import 'layout/search-suggest';
//@import 'layout/cookie-permission';
//@import 'layout/cookie-configuration';
//@import 'layout/scroll-up';

/*
 * Page-specific styles
 * -------------------- */
//@import 'page/product-detail/product-detail';
//@import 'page/product-detail/configurator';
//@import 'page/product-detail/tabs';
//@import 'page/product-detail/review';

//@import 'page/account/account';
//@import 'page/account/aside';
//@import 'page/account/overview';
//@import 'page/account/register';
//@import 'page/account/login';
//@import 'page/account/address';
//@import 'page/account/profile';
//@import 'page/account/order';
//@import 'page/account/edit-order';
//@import 'page/account/order-detail';

//@import 'page/checkout/checkout';
//@import 'page/checkout/aside';
//@import 'page/checkout/cart';
//@import 'page/checkout/cart-item';
//@import 'page/checkout/register';
//@import 'page/checkout/confirm';
//@import 'page/checkout/finish';

//@import 'page/contact/contact';
//@import 'page/newsletter/newsletter';

//@import 'page/search/search';

body{

}
/*** TYPO & BUTTONS ***/
.button-1{
    padding: 10px 25px 10px 50px;
    background: #565656;
    color: #fff;
    border-radius: 20px;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
}
.button-1::before{
    content: '';
    display: block;
    background-color: #E5005B;
    height: 36px;
    width: 36px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    border-radius: 50%;
    /*background-image: url('../assets/img/button-1-arrow-right.svg');*/
    background-size: 20px auto;
    background-position: center;
    background-repeat: no-repeat;
}
.button-1:hover{
    background: #7a7a7a;
    color: #fff;
    text-decoration: none;
}


/*** INTRO-WRAPPER ***/
.intro-wrapper{
    width: 950px;
    max-width: 90%;
    margin: 0 auto;

    h1{
        text-transform: uppercase;
    }
    h6{
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 0;
    }
    hr{
        border: 0 !important;
        max-width: inherit !important;
        width: 200px;
        height: 1px;
        background: rgba(0,0,0,0.8);
        margin: 30px 0;
    }
}

/*** PRODUCT-LISTING ***/
.cms-element-product-listing-actions{
    display: none;
}
.cms-element-product-listing .cms-listing-row{
    margin-top: 50px;
    margin-bottom: 50px;
}
.cms-element-product-listing .cms-listing-col{
    margin-bottom: 40px;
}
.cms-element-product-listing .cms-listing-col:nth-child(2n) .product-box .card-body{
    flex-direction: row-reverse !important;

    .product-info{
        margin-right: 50px;
        margin-left: 0;
    }
}
.product-box{
    border: 0;

    .card-body{
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .product-image-wrapper{
            height: auto;
            width: 55%;
            margin-bottom: 0;
            flex-basis: unset;
            flex-grow: unset;
            flex-shrink: unset;

            .product-image-link{
                .product-image{
                    max-height: inherit !important;
                    height: auto;
                    width: 100%;
                }
            }
        }
        .product-info{
            width: 40%;
            max-width: 480px;
            margin-left: 50px;

            .product-rating{
                display: none;
            }
            .product-name{
                text-transform: uppercase;
                color: #000;
                font-size: 22px;
            }
            .listing-button-price-wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;

                .product-price-unit{
                    display: none;
                }
                .product-price{
                    margin-top: 0px;
                }
                .product-price-info{
                    margin: 0;
                }
            }
        }
    }
}
