/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

/*$sw-color-brand-primary: #c00;*/

.gallery-slider-image{
    margin: 0 !important;
    width: 100%;
    height: auto;
    display: block;
}
.product-detail-description-text h3{
    font-weight: 200;
    display: inline-block;
}
.product-detail-description-text h3::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #000;
    margin: 10px 0;
}
.total-price{
    font-size: 20px;
    font-weight: 900;
}
.product-detail-tab-navigation{
    display: flex;
    justify-content: center;
}
.product-detail-tab-navigation-list{
    background: #424242;
}
.card-tabs .nav-item{
    margin: 0 !important;
}
.card-tabs .nav-item a{
    padding: 5px 30px;
    border: none;
    color: #fff;
    background-color: inherit !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    border-right: 1px solid rgba(255,255,255,0.2);
    transition: all .3s;
}
.card-tabs .nav-item:last-child a{
    border-right: none;
}
.card-tabs .nav-item a.active{
    color: #fff;
    border-color: inherit;
}
.card-tabs .nav-item a:hover{
    background-color: #fff !important;
    color: #000;
}
