.product-detail {
    padding-top: 50px;

    .ask-merchant-wrapper{
        background: $light-gray;
        padding: 20px;
        strong{
            font-family: "bebas-neue", sans-serif;
            font-size: 22px;
            padding: 0 0 2px 0;
            margin-bottom: 10px;
            color: #000;
            border-bottom: 1px solid #bcc1c7;
            display: block;
            font-weight: normal;
        }
        .btn{
            display: block;
            margin-top: 10px;
        }
    }

    .product-detail-name{
        color: $headline-color;
    }
    .product-detail-content {
        margin-bottom: 70px;
        .product-detail-main {

        }
    }
    .product-detail-name-container {
        padding: 0 !important;
    }
    .product-detail-manufacturer {
        display: none;
    }
    .total-price {
        font-size: 26px;
        font-weight: 700;
        display: block;
    }
    .product-detail-tax-link {
        color: #4a545b;
        text-decoration: underline;
    }
    .nav-tabs {

    }
    .product-detail-description-custom h6 {
        color: #e6005b;
        font-weight: 200;
        margin: 0;
        font-size: 18px;
    }
    .product-detail-review-widget {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding-right: 40px;
    }

    .product-detail-description-text {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        line-height: 1.2em;
        border-top: 1px solid $border-color;
        padding-top: 20px;
        ul{
            display: flex;
            margin: 20px 0 0 0;
            padding-left: 0;
            flex-wrap: wrap;
            overflow: hidden;
            li{
                font-weight: bold;
                padding-left: 15px;
                margin: 0 20px 0px -12px;
                list-style: none;
                position: relative;
                font-size: 1.1rem;
                line-height: 1.2;
            }
            li:after{
                content: "";
                position: absolute;
                background: $font-color;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                left: 0px;
                top: 8px;
            }
        }

    }

    .icon-review {
        color: #ffd243;
        width: 20px;
        height: 20px;
    }

    .js-review-filter {
        display: none;
    }

    .product-detail-review-widget hr:nth-child(2) {
        display: none;
    }

    .product-detail-review-actions {
        display: none;
    }

    .product-detail-review-list hr {
        display: none;
    }

    .product-detail-cross-selling {
        margin: 75px 0;
        .card-tabs {
            .nav-link{
                padding: 0;
            }
            .nav-link.active {
                background: none;
                color: #000;
            }
        }
    }
}
#tests-tab-desc{
    .product-detail-tests{
        display: flex;
        align-items: center;
        .img-wrapper{
            width: 30%;
            margin-right: 6.6666%;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

