{% sw_extends '@Storefront/storefront/base.html.twig' %}

 {% block base_header %}
     {% set isHMRMode = false %}

     {{ parent() }}

     <div class="contact-sidebar">
         <ul class="contact">
             <li><strong>Wir beraten Sie gerne!</strong></li>
             <li><a href="tel:+49448492009010">+49 (0)4484 - 92009010</a></li>
             <li><a href="mailto:shop@audioblock.com">shop@audioblock.com</a></li>
         </ul>
         <ul class="questions">
             <li><strong>Sie haben technische Fragen?</strong></li>
             <li><a href="tel:+49448492009010">+49 (0)4484 - 92009010</a></li>
             <li><a href="mailto:service@audioblock.com">service@audioblock.com</a></li>
         </ul>
         <ul class="reachability">
             <li><strong>Dann erreichen Sie uns:</strong></li>
             <li><span>Mo – Do:</span> 8:30 – 17:00 Uhr</li>
             <li><span>Freitag:</span> 8:30 – 13:30 Uhr</li>
         </ul>
     </div>
 {% endblock %}
