{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}


{% block page_product_detail_tabs_navigation_description %}

    <!-- 01: BESCHREIBUNG -->
    <li class="nav-item">
        <a class="nav-link product-detail-tab-navigation-link active"
           id="highlights-tab"
           data-toggle="tab"
           data-offcanvas-tabs="true"
           href="#highlights-tab-desc"
           role="tab"
           aria-controls="description-tab-pane"
           aria-selected="true">
            {{ "detail.tabsDescription"|trans|sw_sanitize }}
        </a>
    </li>

    <!-- 02: SPEZIFIKATIONEN -->
    <li class="nav-item">
        <a class="nav-link product-detail-tab-navigation-link"
           id="technical-data-tab"
           data-toggle="tab"
           data-offcanvas-tabs="true"
           href="#technical-data-tab-desc"
           role="tab"
           aria-controls="description-tab-pane"
           aria-selected="false">
            {{ "detail.tabsSpecifications"|trans|sw_sanitize }}
        </a>
    </li>

    <!-- 03: DOWNLOADS -->
    <li class="nav-item">
        <a class="nav-link product-detail-tab-navigation-link"
           id="service-tab"
           data-toggle="tab"
           data-offcanvas-tabs="true"
           href="#service-tab-desc"
           role="tab"
           aria-controls="service-tab-pane"
           aria-selected="false">
            {{ "detail.tabsDownloads"|trans|sw_sanitize }}
        </a>
    </li>

    <!-- 04: BEWERTUNGEN -->
    <li class="nav-item">
        <a class="nav-link product-detail-tab-navigation-link"
           id="reviews-tab"
           data-toggle="tab"
           data-offcanvas-tabs="true"
           href="#reviews-tab-desc"
           role="tab"
           aria-controls="reviews-tab-pane"
           aria-selected="false">
            {{ "detail.tabsReview"|trans|sw_sanitize }}
        </a>
    </li>

    {% block page_product_detail_tabs_navigation_review %}{% endblock %}
{% endblock %}


{% block page_product_detail_tabs_content_description %}
    <!-- 01: BESCHREIBUNG -->
    <div class="tab-pane fade show active"
         id="highlights-tab-desc"
         role="tabpanel"
         aria-labelledby="highlights-tab">
        {% sw_include '@Audioblock/AudioblockTemplate/page/product-detail/highlights.html.twig' %}
    </div>

    <!-- 02: SPEZIFIKATIONEN -->
    <div class="tab-pane fade show"
         id="technical-data-tab-desc"
         role="tabpanel"
         aria-labelledby="technical-data-tab">
        {% sw_include '@Audioblock/AudioblockTemplate/page/product-detail/technical-data.html.twig' %}
    </div>

    <!-- 03: DOWNLOADS -->
    <div class="tab-pane fade show"
         id="service-tab-desc"
         role="tabpanel"
         aria-labelledby="service-data-tab">
        {% sw_include '@Audioblock/AudioblockTemplate/page/product-detail/service.html.twig' %}
    </div>

    <!-- 04: BEWERTUNGEN -->
    <div class="tab-pane fade show"
         id="reviews-tab-desc"
         role="tabpanel"
         aria-labelledby="reviews-tab">
        {% sw_include '@Storefront/storefront/page/product-detail/review/review.html.twig' with {'reviews': page.reviews} %}
    </div>


{% endblock %}
