
/*** FONTS ***/
$headline-font: "bebas-neue", sans-serif;
$text-font: "source-sans-pro", sans-serif;

/*** FONT-COLORS ***/
$headline-color: #1d1d1b;
$font-color: #c00;

/*** KEY-COLORS ***/
$primary-color: #000;
$secondary-color: #e5005b;
$light-gray: #f0f0f0;

