
/*** FONTS ***/
$headline-font: "bebas-neue", sans-serif;
$text-font: "source-sans-pro", sans-serif;

/*** FONT-COLORS ***/
$headline-color: #000000;
$font-color: #4a545b;

/*** KEY-COLORS ***/
$primary-color: #000;
$secondary-color: #e5005b;
$light-gray: #f1f1f1;
$border-color: #d0d0d0;

