.header-main{
    background: #000;
    .header-logo-main{
        max-width: 200px;
        .header-logo-main-link{
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
    .dropdown-menu{
        background: #fff;
    }
    .header-cart-total{
        color: #fff;
    }
    .header-actions-col{
        .icon{
            width: 30px;
            height: 30px;
            color: #fff;
        }
    }


}
