@media (min-width: 768px) {
    .main-navigation {
        .main-navigation-menu{
            font-size: 1.2rem;
        }
        background: #000;
        .main-navigation-link {
            color: #fff;
            &.active {
                color: #fff;
                .main-navigation-link-text {
                    border-color: #fff;
                }
            }
        }
    }
}


