
/*** CMS-BLOCK: INNER-CONTENT (OWN CLASS) ***/
.cms-block-container{
    .inner-content{
        background: #fff;
        height: 100%;
        .cms-element-text{
            padding: 20px;
        }
    }
}

/*** CMS-IMAGES ***/
.cms-element-image{
    .cms-image{
        width: 100%;
    }
}

/*** FACHHÄNDLERSUCHE ***/
.moorl-merchant-finder-results{
    .moorl-merchant-finder-result-item{
        small{
            position: absolute;
            float: none;
            bottom: -35px;
            right: 0px;
        }
    }
}


/*** HOME: SLIDER ***/
.hero-slider-content-container{
    .hero-slider-description{
        .hero-slider-headline{
            display:none;
        }
        .hero-slider-content-after{
            h2{
                font-size: 2.4rem;
                color: #fff;
            }
        }
        .hero-slider-cta-btn{
            margin-bottom: 0;
        }

    }
}

/*** CMS-BLOCK: TEXT / IMAGE ***/
.cms-block-image-text-row{
    h3{
        margin-bottom: 0;
    }
    h6{
        color: $secondary-color;
        font-family: $text-font;
        font-size: 1rem;
    }
    p{
        i{
            font-size: 1.1rem;
            color: #7d7d7d;
        }
    }
}

/*** INTRO-TEXT ***/
.cms-block-text-hero{
    max-width: 800px;
    margin: 0 auto;
    .cms-element-text {
        h1, h2{
            font-size: 3rem;
            margin-bottom: 30px;
            position: relative;
            i{
                background: #fff;
                position: relative;
                z-index: 9;
                padding: 0 20px;
                font-style: normal;
            }
        }
        h1:after, h2:after{
            content: "";
            position: absolute;
            background: $primary-color;
            width: 100%;
            height: 1px;
            left: 0px;
            top: 20px;
        }
        h3{
            color: $secondary-color;
            font-family: $text-font;
            margin-bottom: 5px;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        hr{
            display: none;
        }
        p{
            font-size: 22px;
        }
    }
}

@media(max-width: 576px){
    .cms-block-text-hero{
        .cms-element-text{
            h1{
                &:after{
                    display: none;
                }
                i{
                    padding: 0;
                    background: transparent;
                }
            }
        }
    }
}
