/*** PRODUCT-BOX ***/
.cms-listing-col{
    .product-box{
        border: 0;
        .card-body{
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .product-image-wrapper{
                height: auto;
                width: 55%;
                margin-bottom: 0;
                flex-basis: unset;
                flex-grow: unset;
                flex-shrink: unset;

                .product-image-link{
                    .product-image{
                        max-height: inherit !important;
                        height: auto;
                        width: 100%;
                        overflow: hidden;
                        margin-right: 50px;
                    }
                }
            }
            .product-info{
                width: 40%;
                max-width: 480px;
                margin-left: 50px;
                .product-description{
                    height: auto;
                }
                .product-rating{
                    display: none;
                }
                .product-title{
                    text-transform: uppercase;
                    color: #000;
                    font-size: 2.8rem;
                    line-height: 1.1em;
                    font-family: $headline-font;
                    overflow: inherit;
                    font-weight: 300;
                }
                .listing-button-price-wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;

                    .product-price-unit{
                        display: none;
                    }
                    .product-price{
                        margin-top: 0px;
                    }
                    .product-price-info{
                        margin: 0;
                    }
                }
            }
        }
    }
}
