/*** PRODUCT-BOX ***/
.cms-listing-col{
    .product-box{
        border: 0;
        .card-body{
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .product-image-wrapper{
                height: auto;
                width: 55%;
                margin-bottom: 0;
                flex-basis: unset;
                flex-grow: unset;
                flex-shrink: unset;

                .product-image-link{
                    .product-image{
                        max-height: inherit !important;
                        height: auto;
                        width: 100%;
                        overflow: hidden;
                        margin-right: 50px;
                    }
                }
            }
            .product-info{
                width: 40%;
                max-width: 480px;
                margin-left: 50px;
                .product-description{
                    height: auto;
                    margin-top: 0;
                }
                .product-rating{
                    display: none;
                }
                .product-title{
                    text-transform: uppercase;
                    color: #000;
                    font-size: 2.8rem;
                    line-height: 1.1em;
                    font-family: $headline-font;
                    overflow: inherit;
                    font-weight: 300;
                }
                .listing-button-price-wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;

                    .product-price-unit{
                        display: none;
                    }
                    .product-price{
                        margin-top: 0px;
                    }
                    .product-price-info{
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .cms-listing-col{
        padding: 0;
        .product-box {
            box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
            padding: 20px;
            .card-body {
                flex-direction: column !important;
                .product-image-wrapper{
                    width: 100%;
                    margin-bottom: 20px;
                    .product-image-link{
                        .product-image{
                            margin-right: 0;
                        }
                    }
                }
                .product-info{
                    max-width: inherit;
                    width: 100%;
                    margin-left: 0;
                    .product-title{
                        font-size: 2rem;
                        margin-bottom: 15px;
                    }
                    .listing-button-price-wrapper{
                        flex-direction: column-reverse;
                        align-items: inherit;
                        justify-content: inherit;
                        margin-top: 15px;
                        .button-1{
                            max-width: 180px;
                        }
                        .product-price{
                            font-size: 22px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
