{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}


{% block utilities_offcanvas_content %}
    <div class="product-detail-description-custom">
        {{ page.product.customFields.delivery-scope_editor | raw }}
    </div>
{% endblock %}
