{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}


{% block utilities_offcanvas_content %}
    <div class="product-detail-specifications">
        {{ page.product.customFields.custom_garantie_textfeld | raw }}
    </div>
{% endblock %}
