{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}


{% block utilities_offcanvas_content %}
    <div class="product-detail-specifications">
        <h1>TEST</h1>
    </div>
{% endblock %}
