{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}


{% block utilities_offcanvas_content %}
    <div class="product-detail-tests">
        {% if page.product.customFields.custom_tests_grafik_1 != "" %}
            <div class="img-wrapper test-banner">
                {% set banner1Id = page.product.customFields.custom_tests_grafik_1 %}
                {% set mediaCollection = searchMedia([banner1Id], context.context) %}
                {% set banner1 = mediaCollection.get(banner1Id) %}
                <img src="{{ banner1.url }}" alt="" />
            </div>
        {% endif %}
        {% if page.product.customFields.custom_tests_grafik_2 != "" %}
            <div class="img-wrapper test-banner">
                {% set banner2Id = page.product.customFields.custom_tests_grafik_2 %}
                {% set mediaCollection = searchMedia([banner2Id], context.context) %}
                {% set banner2 = mediaCollection.get(banner2Id) %}
                <img src="{{ banner2.url }}" alt="" />
            </div>
        {% endif %}
        {% if page.product.customFields.custom_tests_grafik_3 != "" %}
            <div class="img-wrapper test-banner">
                {% set banner3Id = page.product.customFields.custom_tests_grafik_3 %}
                {% set mediaCollection = searchMedia([banner3Id], context.context) %}
                {% set banner3 = mediaCollection.get(banner3Id) %}
                <img src="{{ banner3.url }}" alt="" />
            </div>
        {% endif %}
    </div>
{% endblock %}
