.header-minimal {
    &.fixed-top {
        background: #000;
    }

    .header-logo-main-link {
        width: 200px;
    }

    .header-minimal-contact {
        color: #fff;

        a {
            color: #fff;
        }
    }

    .header-minimal-back-to-shop {
        .btn {
            color: #fff;
            border-color: #fff;
        }
    }
}

.checkout-main {
    .card {
        background: $light-gray;
        padding: 20px;
    }
    .checkout-card {
        margin-bottom: 30px;
        .confirm-payment-current,
        .confirm-shipping-current{
            strong, img{
                display: block;
            }
            img{
                margin-top: 5px;
            }
            .confirm-shipping-method-image{
                width: 40px;
            }
        }
    }
}




/*** MODAL-DIALOG FÜR ZAHLUNGSARTEN & VERSANDARTEN ***/
.confirm-payment-modal,
.confirm-shipping-modal {
    .custom-control-label {
        display: flex;

        .payment-method-image,
        .confirm-shipping-method-image {
            margin-right: 20px;
            display: block;
        }

        .payment-method-description {
            p {
                margin-bottom: 0;
            }
        }
    }
}
.confirm-main-header, .confirm-tos, .confirm-address, .confirm-payment-shipping, .confirm-payment, .confirm-product{
    margin-bottom: 0;
}
